<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ex4</title>
  <meta name="description" content="whois app">
  <meta name="author" content="santerj">
  <meta property="og:title" content="whois app">
  <meta property="og:type" content="website">
  <meta property="og:description" content="whois app">
  <link rel="stylesheet" type="text/css" href="styles.css">
  {% endblock %}
</head>

<body>
    <h1>whois app</h1>
    
    <form id="form1" action="/whois" method="get">
      <input id="input" name="domain" type="text" placeholder="example.com">
      <button type="submit" form="form1">Send</button>
    </form>
    
    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>