<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>whois app</title>
  <meta name="description" content="whois app">
  <meta name="author" content="santerj">
  <meta property="og:title" content="whois app">
  <meta property="og:type" content="website">
  <meta property="og:description" content="whois app">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% endblock %}
</head>

<body>
  <div id="everything" class="h-screen bg-rose-200 py-60">
    <div id="title" class="text-center content-center pb-5">
      <h1 class="text-4xl font-bold focus:underline"><a href=index>whois</a></h1>
    </div>

    <div id="input" class="flex justify-center items-center content-center">
      <form id="form1" action="/whois" method="get" class="bg-neutral-100 shadow-md rounded px-8 pt-6 pb-8 flex flex-col justify-center items-center">
        <input id="input" name="domain" type="text" placeholder="example.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline">
        <button type="submit" form="form1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded focus:outline-none focus:shadow-outline">Send</button>
      </form>
    </div>
    
    <div id="content" class="flex flex-col justify-center items-center text-center x-8 pt-6 pb-8 font font-semibold">{% block content %}{% endblock %}</div>
  </div>

</body>
</html>